﻿@model IEnumerable<AR_BusinessCards.Models.CompanyTbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Business Cards</h1>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Company Name : ")
            </th>
            <th>
                @Html.Label("Company Phone : ")
            </th>
            <th>
                @Html.Label("Company Email : ")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Com_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Com_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Com_Email)
                </td>
                <td>
                    <p>
                        <a href="Updaterecord" input name="ChangeRecord" class="btn btn-primary btn" value=@item.ComID>Update Record &raquo;</a>
                        <a href="Deleterecord" input name="ChangeRecord" class="btn btn-primary btn" value=@item.ComID>Delete Record &raquo;</a>
                    </p>
                </td>
            </tr>
        }

    </table>
    <p class="lead"></p>
</div>
