﻿@model IEnumerable<AR_BusinessCards.Models.CompanyTbl>
@{
    ViewBag.Title = "Update Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <table class="table">
        <tr>
            <th>
                @Html.Label("Company Name : ")
            </th>
            <th>
                @Html.Label("Company Phone : ")
            </th>
            <th>
                @Html.Label("Company Email : ")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Com_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Com_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Com_Email)
                </td>
                <td>
                    <p>
                        <a href="Deleterecord" class="btn btn-primary btn" value="1">Delete Record &raquo;</a>
                    </p>
                </td>
            </tr>
        }

    </table>
    @*<a href="UpdateRecord" class="btn btn-primary btn" value=@item.ComID>Save Record &raquo;</a>*@
</div>