﻿@model IEnumerable<AR_BusinessCards.Models.CompanyTbl>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Company Name : ")
        </th>
        <th>
            @Html.Label("Company Phone : ")
        </th>
        <th>
            @Html.Label("Company Email : ")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Com_Email)
        </td>
    </tr>
    }

</table>
