﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <img class="companylogo" href="Index" src="~/content/resources/images/Anglia-Ruskin-Logo.jpg" alt="Anglia Ruskin" /> @*Company Logo*@
            <div class="navbar-header">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Addrecord">Add Record</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Updaterecord">Update Record</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Deleterecord">Delete Record</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="margin-bottom: 10px; margin-top:10px;"/> @*Another addition inline aids in creating a more fluid page design*@
        <footer>
            <p style="padding: 10px;">&copy; @DateTime.Now.Year - Website constructed by Peter Anderson - Peterakie@Hotmail.com</p> @*The inline style was utilised to offer a quick padding adjustment on the footing text*@ 
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
