
<div class="HomePageInfo">
    <h1 style="text-align:center">Anglia Ruskin - Business Card Web App</h1>
    <p class="lead" style="text-align:center">Management over users and business cards</p>
</div>
<div class="FillerText">
    <h2>After logging in.</h2>
    <p>The ability to create, delete and update the User and Card tables becomes possible.</p>
</div>
<div class="FinalPiece">
    <h3 style="text-align:right">Utilization</h3>
    <p style="text-align:right">This web app utilises Knockout to create areas.</p>
</div>
